<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./index.css" />
        <script src="./vue.min.js"></script>
    </head>

    <body>
        <div id="app" v-clock>
            <div class="headConfigs">
                <div class="config-item">
                    <label for="setFull">
                        <input type="radio" id="setFull" value="full" v-model="config.showType" />
                        全屏配置
                    </label>
                    <label for="setPartition">
                        <input type="radio" id="setPartition" value="partition" v-model="config.showType" />
                        模块配置
                    </label>
                </div>
                <!-- <div class="config-item">
                    <label for="setGlobal">
                        <input type="radio" id="setGlobal" value="global" v-model="currentConfigTarget" />
                        全局
                    </label>
                    <label for="setWorspace">
                        <input type="radio" id="setWorspace" value="workspace" v-model="currentConfigTarget" />
                        工作区
                    </label>
                </div> -->
                <div class="config-item">
                    <button @click="clearConfit">清空</button>
                    <button @click="saveConfig">保存</button>
                </div>
            </div>
            <div class="main">
                <div
                    class="fullPart"
                    :class="config.showType === 'full' ? 'activeFull' : 'hidden'"
                    :style="{'--background': `url(${config.full.img}) 50% 50%/cover`, '--opacity': config.full.opacity}">
                    全屏
                </div>
                <div
                    v-for="part in areaMap"
                    :class="{active: part.key == currentConfigkey}"
                    @click="changeSetTarget(part)"
                    :style="getStyle(part)">
                    {{part.name}}
                </div>
            </div>
            <div class="configs">
                <div class="config-item">
                    <span>背景图片地址:</span>
                    <input type="text" style="width: 30vmin" v-model="config[currentConfigkey].img" />
                    <span>背景透明度(0-1):</span>
                    <input type="text" style="width: 10vmin" v-model="config[currentConfigkey].opacity" />
                </div>
            </div>
        </div>
    </body>

    <script>
        window.addEventListener('message', ({ data: { type, data } }) => {
            const vscode = acquireVsCodeApi();
            new Vue({
                el: '#app',
                data: () => ({
                    areaMap: [
                        { key: 'titlebar', name: '标题栏', position: [0, 0, 95, 0] },
                        // { key: 'banner', name: '', position: [0, 0, 0, 0] },
                        { key: 'activitybar', name: '活动栏', position: [5, 95, 5, 0] },
                        { key: 'sidebar', name: '主侧边栏', position: [5, 75, 5, 5] },
                        { key: 'editor', name: '编辑器', position: [5, 15, 30, 25] },
                        { key: 'panel', name: '面板', position: [70, 15, 5, 25] },
                        { key: 'auxiliarybar', name: '辅助侧边栏', position: [5, 0, 5, 85] },
                        { key: 'statusbar', name: '状态栏', position: [95, 0, 0, 0] },
                    ],
                    globalConfig: {},
                    workspaceConfig: {},
                    currentConfigTarget: 'global',
                    config: {
                        showType: 'partition',
                        full: { img: '', opacity: 0.95 },
                        titlebar: { img: '', opacity: 0.95 },
                        banner: { img: '', opacity: 0.15 },
                        activitybar: { img: '', opacity: 0.95 },
                        sidebar: { img: '', opacity: 0.95 },
                        editor: { img: '', opacity: 0.95 },
                        panel: { img: '', opacity: 0.95 },
                        auxiliarybar: { img: '', opacity: 0.95 },
                        statusbar: { img: '', opacity: 0.15 },
                    },
                    currentConfigkey: 'full',
                }),
                watch: {
                    'config.showType'(value) {
                        if (value === 'full') {
                            this.currentConfigkey = 'full';
                        } else {
                            this.currentConfigkey = 'editor';
                        }
                    },
                    currentConfigTarget(value) {
                        if (value === 'global') {
                            this.config = this.globalConfig;
                        } else if (value === 'workspace') {
                            this.config = this.workspaceConfig;
                        }
                    },
                },
                methods: {
                    getStyle(part) {
                        const [top, right, botton, left] = part.position;
                        const config = this.config[part.key];
                        return {
                            top: `${top}%`,
                            right: `${right}%`,
                            bottom: `${botton}%`,
                            left: `${left}%`,
                            '--background': `url(${config.img}) 50% 50%/cover`,
                            '--opacity': config.opacity,
                        };
                    },
                    changeSetTarget(part) {
                        this.currentConfigkey = part.key;
                    },
                    clearConfit() {
                        this.config.full.img = '';
                        this.areaMap.forEach(({ key }) => {
                            this.config[key].img = '';
                        });
                    },
                    saveConfig() {
                        const message = { data: structuredClone(this.config) };
                        Object.values(message.data).forEach((value) => {
                            if (typeof value == 'object') {
                                value.opacity = parseFloat(value.opacity);
                            }
                        });
                        if (this.currentConfigTarget === 'global') {
                            message.command = 'saveGlobalConfig';
                        } else if (this.currentConfigTarget === 'workspace') {
                            message.command = 'saveWorkspaceConfig';
                        }
                        vscode.postMessage(message);
                    },
                },
                created() {
                    console.log(type, data);
                    if (type === 'config') {
                        this.globalConfig = data.globalConfig;
                        this.workspaceConfig = data.workspaceConfig;
                        this.config = data.globalConfig;
                        if (this.config.showType === 'full') {
                            this.currentConfigkey = 'full';
                        } else {
                            this.config.showType = 'partition';
                            this.currentConfigkey = 'editor';
                        }
                    }
                },
            });
        });
    </script>
</html>
